<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="umd.edu.myumdwidget"
    android:versionCode="1"
    android:versionName="1.8" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    
        
    <application
        android:allowBackup="true"
        android:icon="@drawable/flag"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="umd.edu.myumdwidget.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="umd.edu.myumdwidget.MyUMDWidget$UpdateService" />
        
        <!-- Broadcast Receiver -->
        <receiver
            android:name=".MyUMDWidget"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/myumdwidget_provider" />
        </receiver>
    </application>

</manifest>